<h1><%= @course.name %></h1>
<hr />
<br />
<%= link_to 'Enrollments', course_enrollments_path(@course), class: "ui primary button inverted" %>
<br />
<br />
<br />
<%= link_to "Delete Course", @course, method: :delete, class: "ui red button inverted" %>